.poke_Grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  gap: 10px;
}
.poke_Card {
  width: 100%;
}
.card_Head {
  font-size: 5px;
}
.card_Body {
}
.types_Container {
}
.pokemon_Name {
}
.pokemon_Id {
}
.pokemon_TipoP {
}
.pokemon_TipoS {
}
.poke_Img {
}
